* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;

}

.section_bint {
    width: 100%;
    height: 800px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.predment-view{
    width: 200px;
    height: auto;
    color: black;
}
