{% extends "Header.html" %}
{% block linkss %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/css/register_login.css">
    <link rel="stylesheet" href="/static/css/Header.css">
{% endblock %}
{% block edks %}
    <section class="section_bint">
        <div class="bg-white/80 backdrop-blur-lg p-8 rounded-2xl shadow-xl w-full max-w-md">
            <h1 class="text-2xl font-bold text-center mb-6">Kurs qoshish</h1>
            <form action="{{ url_for('edit_kurs', kurs_id=kurs.id) }}" method="POST" enctype="multipart/form-data">
                <select class="w-full p-3 mb-3 rounded-lg border" name="predment" id="">
                    {% for predments in predmets %}
                        <option style="color: black" value="{{ predments.id }}">{{ predments.name }}</option>
                    {% endfor %}
                </select>
                <input class="w-full p-3 mb-3 rounded-lg border" type="text" name="name" placeholder="nomi"
                       required>
                <input class="w-full p-3 mb-3 rounded-lg border" type="text" name="about" placeholder="haqida"
                       required>
                <select class="w-full p-3 mb-3 rounded-lg border" name="teacher_id" id="">
                    {% for teacher in teachers %}
                        <option value="{{ teacher.id }}">{{ teacher.name }} {{ teacher.surname }}</option>
                    {% endfor %}


                </select>

                <input class="w-full p-3 mb-3 rounded-lg border" type="file" name="photo" placeholder="Kurs rasmi"
                       required>
                <input class="w-full p-3 mb-3 rounded-lg border" type="number" name="price" placeholder="Narh"
                       required>


                <button class="w-full bg-blue-600 text-white p-3 rounded-lg hover:bg-blue-700">Yuborish</button>
            </form>

        </div>
    </section>
{% endblock %}