{% extends 'Header.html' %}
{% block links %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/css/register_login.css">
    <link rel="stylesheet" href="/static/css/Header.css">
{% endblock %}
{% block predment %}
    <section class="section_bint">
        <div class="bg-white/80 backdrop-blur-lg p-8 rounded-2xl shadow-xl w-full max-w-md">
            <h1 class="text-2xl font-bold text-center mb-6">Predment(KURS TURI)</h1>
            <form action="" method="post" enctype="multipart/form-data">
                <input class="w-full p-3 mb-3 rounded-lg border" type="text" name="name" placeholder="Kurs turi nomi"
                       required>

                <button class="w-full bg-blue-600 text-white p-3 rounded-lg hover:bg-blue-700">Yuborish</button>
            </form>

        </div>
       <div class="predment-view">
           {% for predment in predments %}
           <h1>{{ predment.name }}</h1>
           {% endfor %}


       </div>
    </section>
{% endblock %}