{% extends 'Header.html' %}
{% block links %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/css/register_login.css">
    <link rel="stylesheet" href="/static/css/Header.css">
{% endblock %}
{% block techreg %}
    <section class="section_bint">
        <div class="bg-white/80 backdrop-blur-lg p-8 rounded-2xl shadow-xl w-full max-w-md">
            <h1 class="text-2xl font-bold text-center mb-6">O`qituvchi ro`yxati</h1>
            <form action="" method="POST" enctype="multipart/form-data">
                <input class="w-full p-3 mb-3 rounded-lg border" type="text" name="name" placeholder="Ism" required>
                <input class="w-full p-3 mb-3 rounded-lg border" type="text" name="surname" placeholder="Familiya"
                       required>
                <input class="w-full p-3 mb-3 rounded-lg border" type="date" name="year"
                       placeholder="tug`lgan sana" required>

                <input class="w-full p-3 mb-3 rounded-lg border" type="email" name="email" placeholder="Email" required>
                <input class="w-full p-3 mb-3 rounded-lg border" type="file" name="photo" placeholder="Rasm" required>
                <input class="w-full p-3 mb-3 rounded-lg border" type="password" name="password" placeholder="Parol"
                       required>
                <button class="w-full bg-blue-600 text-white p-3 rounded-lg hover:bg-blue-700">Royxatdan otish</button>
            </form>
            <p class="mt-4 text-center text-sm">Allaqchon hisobingiz bormi? <a href="{{ url_for("login") }}"
                                                                               class="text-blue-700 underline">Kirish</a>
            </p>
        </div>
    </section>
{% endblock %}